.stretch {
    width:100%;
    height:100%;
}

.break {
    border-bottom:1px solid #CCC;
    float:left;
    width:100%;
    padding-bottom:3px;
}

.cav {
    font-family: 'Patrick Hand', serif;
}

.link {
    color: rgb(210, 222, 241);
}

.text-light {
    color: #f6f5f0;
    
}


